ul {
    margin: 0;
    padding: 0;
}
p, h1, h2, h3 {
    margin: 0;
}
img {
    display: block;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
body { 
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
:root {
    --brand-color-dark: #2F303A;
    --brand-color-ligth: #FFFFFF;
    --acent-one: #2196F3;
    --acent-second: #000000;
    --text-one: #212121;
    --text-second: #757575;
    --brand-color-medium: #F5F4FA;
    --background-color: #E5E5E5;
    --border-color: #AFB1B8;
    --acent-third: #188CE8;
}